
<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<!-- LAST SEARCH METHOD - DISABLED <p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p> -->

<table *ngIf="products" datatable class="row-border hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td scope="row">{{ p.title}}</td>
      <td scope="row">{{ p.price }}</td>
      <td scope="row">
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
